/* Default setting for album story
==================================================================== */
@charset 'UTF-8';

body {
  width: 100%;
  height: 100%;
  font-size: 15px;
  background: #eee;
}

html {
  width: 100%;
  height: 100%;
}
